.gradle/
.idea/
/build

*.apk
*.aar
*.ap_
*.aab

!libs/*.aar

*.dex

*.class
*.hprof

bin/
gen/
out/

proguard/
*.log
navigation/
*.iml
.DS_Store
.externalNativeBuild
.cxx/
freeline.py
freeline/
freeline_project_description.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
vcs.xml
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
local.properties
